/*  your css code here. If applicable */

#line{
	position:absolute;
	left:300px;
	top:300px;
	background-color:black;
	height:2px;
	width:200px;
	transform-origin:center;
	animation:rotate 2s linear infinite;
}
@keyframes rotate{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}